body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#custom-login-navigation{
    width: 9.2em !important;
}

#connect-text{
    margin-top: 10%;
    font-weight: 900;
    float: left;
    margin-left: 5%;
}

#dot{
    margin-top: 22%;
    border: solid #3276b1;
    width: 1%;
    height: 1%;
    border-radius: 100%;
    float: left;
}

#wrapper {
    margin-top: 2%;
}

#welcome-text-wrapper {
    text-align: center;
}

.connect-img{
    margin-left: 20%;
    width: 30%;
    margin-top: 6%;
}

.right-glyph{
    position: relative;
}
.right-glyph i {
    position: absolute;
    right: 0px;
    margin-right: 10%;
    margin-top: 2.6%;
    pointer-events: none;
}

#businessInfoWrapper {
    margin-top: 5%;
    width: 98.3%;
}

#basicUserInfo-image img, #company-default-img img{
    width: 40%;
    height: 40%;
}

#supporortedCompanies-wrapper{
    margin-top: 2%;
}

#businessInfo-supportedCompanies, #supporortedCompanies-wrapper{
    height: 39em;
}