@model AddSkill

<div class="form-group text-center">
    @using (Ajax.BeginForm("AddSkill", "Profile", null,
                                new AjaxOptions()
                                {
                                    HttpMethod = "POST",
                                    InsertionMode = InsertionMode.InsertBefore,
                                    UpdateTargetId = "experience-list"
                                }, new { @class = "panel-body" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-lg-12 input-group">
                <div class="input-group">
                    <span class="input-group-addon col-lg-12" data-toggle="tooltip" title="It is better to use the skill if it is already in the suggestions, so we can match you better!">
                            <span class="glyphicon glyphicon-info-sign"></span>
                    </span>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control col-lg-2", autocomplete = "off", id = "skills-input" })
                    <div class="input-group-btn">
                        <ul id="skills-dropdown" class="dropdown-menu dropdown-menu-right col-lg-5" role="menu"></ul>
                        <input class="btn btn-success" type="button" value="Go!" />
                    </div>
                </div>
            </div>
        </div>
    };
</div>
