@model Models.Dashboard.UserDashboardProfile

<div class="popover bottom">
    <div class="arrow"></div>
    <div class="popover-title text-center">
        <a href="@Url.Action("Profile", "Profile")">
            @if (Model.ProfileImage == null)
            {
                <img src="~/Content/Images/profile-image.png" width="85px" height="85px" class="img-circle" />
            }
            else
            {
                string imageBase64 = Convert.ToBase64String(Model.ProfileImage);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc" width="85px" height="85px" class="img-circle" />
            }
            <h4>@Model.FullName</h4>
        </a>
    </div>
    <div class="popover-content">
        <ul class="list-group text-center">
            <li class="list-group-item">First item</li>
            <li class="list-group-item">Second item</li>
            <li class="list-group-item">
                @Html.ActionLink("Log out", "LogOut", "Login", new { Area = "LoginSite" }, null)
            </li>
        </ul>
    </div>
</div>