@model Profile

<div id="profile-wrapper">
    <div id="businessInfo-basicUserInfo" class="row col-md-3">
        @Html.Action("ProfileBasicInfo", "Profile")
        <a href="#" class="btn btn-primary col-md-12" data-toggle="modal" data-target="#skill-form-modal">Add skill</a>
    </div>
    <div id="profile-navbar-wrapper" class="row col-md-9">
        <div class="text-center col-md-6 profile-navbar-option">
            @Html.ActionLink("Qualifications", "Profile", "", new { @class= "btn-link" })
        </div>
        <div class="text-center col-md-6 btn-link profile-navbar-option">
            @Html.ActionLink("Documents", "Profile", "", new { @class = "btn-link" })
        </div>
        <div class="row line"></div>
    </div>
    <div id="profile-content" class="row col-md-9">
        @*Todo: take it to a partial view*@
        <div id="profile-qualifications-wrapper">
            <a href="#" class="btn btn-info col-md-12" data-toggle="modal" data-target="#exp-form-modal">Add experience</a>
        </div>
        <div id="experience-list">
            @foreach (var experience in Model.UserExperience)
            {
                Html.RenderPartial("~/Views/Profile/Experience.cshtml", experience);
            }
        </div>
        <div id="skills-wrapper">
            <div id="img-wrapper">
                <img src="~/Content/Images/profile-image.png" style="width: 100px;height:100px;" class="img-circle"/>
            </div>
            <div class="arrow-up"></div>
            <div id="skills-panel" class="panel panel-default col-md-12 row">
                <div class="panel-body">
                    @if (!Model.Skills.Any())
                    {
                        <p>Looks like you haven't added any skills. Please add skills from <a id="add-skill-button" href="#" class="text-info" data-toggle="modal" data-target="#skill-form-modal">here</a> so we can rank you better.</p>
                    }

                </div>
            </div>
            <div id="add-skill-panel">

            </div>
        </div>
    </div>
</div>

@*Make a directive*@
<div class="modal fade background" id="exp-form-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Experience</h4>
            </div>
            <div class="modal-body">
                    @{ Html.RenderPartial("~/Views/Profile/AddExperience.cshtml", new ExperienceViewModel()); }
            </div>
        </div>
    </div>
</div>

@*Make a directive*@
<div class="modal fade" id="skill-form-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Skill</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderPartial("~/Views/Profile/AddSkill.cshtml", new AddSkill()); }
            </div>
        </div>
    </div>
</div>

@section ProfileScripts{
    <script src="~/Scripts/ConnectScripts/Profile/profileManager.js"></script>
    <script src="~/Scripts/ConnectScripts/Profile/skillsManager.js"></script>
}