@model Models.Profile.Profile

<div class="form-group">
    <div id="profile-qualifications-wrapper">
        <a href="#" class="btn btn-lg btn-info col-md-12" data-toggle="modal" data-target="#exp-form-modal">Add experience</a>
    </div>
</div>
<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Experience</div>
        <div class="panel-body">
            <div id="experience-list">
                @foreach (var experience in Model.UserExperience)
                {
                    Html.RenderPartial("~/Views/Profile/Experience.cshtml", experience);
                }
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div id="skills-wrapper">
        <div id="img-wrapper">
            <img src="~/Content/Images/profile-image.png" style="width: 100px;height:100px;" class="img-circle" />
        </div>
        <div class="arrow-up"></div>
        <div id="skills-panel" class="panel panel-default col-md-12">
            <div class="panel-body">
                @if (!Model.Skills.Any())
                {
                    <p>Looks like you haven't added any skills. Please add skills from <a href="#" class="text-info btn-add-skill" data-toggle="modal" data-target="#skill-form-modal">here</a> so we can rank you better.</p>
                }

            </div>
        </div>
        <div id="add-skill-panel">

        </div>
    </div>
</div>