@model Models.Profile.Profile

<div class="form-group">
    @if (Model.CanEditProfile)
    {
        <div id="profile-qualifications-wrapper">
            <a href="#" class="btn btn-lg btn-info col-md-12" data-toggle="modal" data-target="#exp-form-modal">Add experience</a>
        </div>
    }
</div>
<div class="form-group">
    <div class="panel panel-default">
        <div class="panel-heading">Experience</div>
        <div class="panel-body">
            <div id="experience-list">
                @if (!Model.UserExperience.Any())
                {
                    <i class="glyphicon glyphicon-briefcase"></i>
                }

                @foreach (var experience in Model.UserExperience)
                {
                    Html.RenderPartial("~/Views/Profile/Experience.cshtml", experience);
                }
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div id="skills-wrapper">
        <div id="img-wrapper">
            @if (Model.ProfileImage == null)
            {
                <img src="~/Content/Images/profile-image.png" width="85px" height="85px" class="img-circle" />
            }
            else
            {
                string imageBase64 = Convert.ToBase64String(Model.ProfileImage);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

                <img src="@imageSrc" width="85px" height="85px" class="img-circle" />
            }
        </div>
    </div>
</div>
<div class="popover bottom">
    <div class="arrow"></div>
    <div id="user-skills-container" class="popover-content text-center">
        @if (!Model.Skills.Any() && !Model.CanEditProfile)
        {
            <p>The user hadn't added any skills yet.</p>
        }
        else if (!Model.Skills.Any() && Model.CanEditProfile)
        {
            <p>Looks like you haven't added any skills. Please add skills from <a href="#" class="text-info btn-add-skill" data-toggle="modal" data-target="#skill-form-modal">here</a> so we can rank you better.</p>
        }
        else
        {
            foreach (var skill in Model.Skills)
            {
                <span class="badge active user-skill">@skill</span>
            }
        }
    </div>
</div>
<div id="add-skill-panel">

</div>