<div id="profile-qualifications-wrapper">
    <div id="experience" class="col-md-12 panel panel-default">
        @*<div class="col-lg-12 panel-body">
            asd
        </div>*@
    </div>
</div>