@model CreatedPosition

<div class="form-group">
    <div class="form-group"></div>
    <div class="form-group">
        <div class="col-lg-2">
            <div class="panel panel-default form-group">
                <div class="form-group">
                    <div class="rounded">

                    </div>
                </div>
                <div class="form-group">
                    @Html.ActionLink(Model.PositionName, "ViewPosition", new { positionId = Model.PositionId }, new { @class = "text-center" })
                    @Html.HiddenFor(x => x.PositionId, new { @class="positionId" })
                </div>
            </div>
        </div>
    </div>
</div>