@model UserRegistrationLogin

<div id="wrapper">
    <div class="col-md-6 col-lg-4">
        <div class="col-lg-12">
            <h3>I am recruiter</h3>
        </div>
        <div class="col-lg-12">
            @{ Html.RenderPartial("~/Areas/LoginSite/Views/Login/RecruiterLogin.cshtml", Model.UserLogin); }
        </div>
        <div class="col-lg-12">
            @{ Html.RenderPartial("~/Areas/LoginSite/Views/Registration/RecruiterRegistration.cshtml", new UserRegistration(Model.ActivityArea.Countries)); }
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="col-lg-12">
            <h3>I am candidate</h3>
        </div>
        <div class="col-lg-12">
            @{ Html.RenderPartial("~/Areas/LoginSite/Views/Login/Login.cshtml", Model.UserLogin); }
        </div>
        <div class="col-lg-12">
            @{ Html.RenderPartial("~/Areas/LoginSite/Views/Registration/Registration.cshtml", new UserRegistration(Model.ActivityArea.Countries)); }
        </div>
    </div>
</div>
