<div id="businessInfoWrapper">
    <div id="businessInfo-supportedSectors" class="panel">
        <div>
            @Html.Action("SupportedSectors", "BusinessInfo")
        </div>
    </div>
    <div id="businessInfo-basicUserInfo" class="col-md-3">
        @Html.Action("UserBasicInfo", "BusinessInfo")
    </div>
    <div id="businessInfo-supportedCompanies" class="panel panel-default col-md-offset-4 text-center">
        <h2 class="text-center text-info">Select a sector...</h2>
    </div>
</div>