@model IList<SupportedCompany>

<div id="supporortedCompanies-wrapper" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            @if (Model.Count == 0 || Model == null)
            {
                <div>
                    <h3 class="text-info">Please select a sector...</h3>
                </div>
            }
            else
            {
                foreach (var company in Model)
                {
                    <div>
                        @if (true) // Check if the company has picture
                        {
                            <div id="company-default-img">
                                <img src="~/Content/Images/company-default.png" class="img-circle" />
                            </div>
                        }
                        else
                        {
                            //Display real picture
                        }
                    </div>
                    <div>
                        <h3 class="text-info">@company.Name</h3>
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <h4 class="text-center text-info">View</h4>
        </div>
    </div>
</div>